.all-orders-container {
  max-width: 1100px;

  padding-left: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  border-radius: 24px;
  margin-left: 6rem;
}

.TotalAccount {
  display: flex;
  width: 72%;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 6rem;
  margin-bottom: 20px;
  height: 8vh;
  text-align: center;
}

.orders-table {
  width: 99%;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-x: auto;
  color: #000;
}

.orders-table th,
.orders-table td {
  padding: 0.75rem;
  text-align: left;

  border-bottom: 1px solid #ddd;
}

.orders-table th {
  font-weight: bold;
  background-color: #fff;
  color: #377dff;
}

.orders-table tr:hover {
  background-color: #f5f5f5;
  color: #000;
}
.pagination {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.pagination-info {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entries-per-page {
  margin-bottom: 1rem;
  border: none;
}
#entries-per-page-select {
  border: none;
}

.pagination-button {
  color: #000;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .orders-table {
    width: 99%;
    overflow-x: scroll;
  }
}
